@model FirstWordsAnalyzer.Models.Cognate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cognate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayName("Base")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Word.Text)
        </dd>

        <dt>
            @Html.DisplayName("Derived")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Word1.Text)
        </dd>

        <dt>
            @Html.DisplayName("Word part")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WordPart)
        </dd>
        <dt>
            @Html.DisplayName("Base firs translation")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Word.FirstTranslationVariant)
        </dd>

        <dt>
            @Html.DisplayName("Derived firs translation")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Word1.FirstTranslationVariant)
        </dd>

        <dt>
            @Html.DisplayName("Wrong association")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WrongAssociation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
