@model IEnumerable<FirstWordsAnalyzer.Models.DerivedWordChainCellWithContext>

@if (ViewBag.WordsPopularityWithCognates != null)
{

    <h2>Word information</h2>

    <div>
        <table class="table">
            <tr>
                <th>
                    Text
                </th>
                <th>
                    First translation
                </th>
                <th>
                    Second translation
                </th>
                <th>
                    Third translation
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Differance
                </th>
            </tr>
            <tr>
                <td>
                    @ViewBag.WordsPopularityWithCognates.Text
                </td>
                <td>
                    @ViewBag.WordsPopularityWithCognates.FirstTranslationVariant
                </td>
                <td>
                    @ViewBag.WordsPopularityWithCognates.SecondTranslationVariant
                </td>
                <td>
                    @ViewBag.WordsPopularityWithCognates.ThirdTranslationVariant
                </td>
                <td>
                    @ViewBag.WordsPopularityWithCognates.Quantity
                </td>
                <td>
                    @ViewBag.WordsPopularityWithCognates.Differance
                </td>
            </tr>
        </table>
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", "Words", new { id = ViewBag.WordsPopularityWithCognates.WordId }, null) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <hr />
}

@if (ViewBag.WordsPopularityWithCognates == null)
{
    <p>
        @Html.ActionLink("Edit", "Edit", "Words", new { id = ViewBag.Id }, null) |
        @Html.ActionLink("Back to List", "Index")
    </p>

}

@*Блок производных слов*@
@if (Model.Count() > 0)
{
    <h2>Derived words chain with context</h2>

    <table class="table">
        <tr>
            <th></th>
            <th>
                Distance
            </th>
            <th>
                Quantity
            </th>
            <th>
                Text
            </th>
            <th>
                Translation
            </th>
            <th>
                Sentence
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.DerivedWordId }) |
                    @Html.ActionLink("Edit", "Index", "Cognates", new { currentFilter = item.DerivedWordId.ToString() }, null)
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WordText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstTranslationVariant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SentenceText)
                </td>
            </tr>
        }

    </table>

}
@*Блок предложений*@
<h2>Sentences with word</h2>

<table class="table">
    <tr>
        <th>
            Sentance
        </th>
        <th>
            Length
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.SentencesWithWord)
    {
        <tr>
            <td>
                @item.Text
            </td>
            <td>
                @item.Length
            </td>
        </tr>
    }

</table>



